.first-title{
    font-size: 25px;
    margin: 15px;
    padding: 10px;
}
.edit-option{
    margin-left: 20px;
     display: inline;
}
.annonuce-content{
    margin: 10px;
}
.second-title{
    margin: 20px 45px;
    font-size: 24px;
}
.announcement{
    margin: 10px;
}