.first-title{
    font-size: 25px;
    margin: 15px;
    padding: 10px;
}
.edit-option{
    margin-left: 20px;
     display: inline;
}
.annonuce-content{
    margin: 10px;
}
.second-title{
    margin: 20px 45px;
    font-size: 24px;
}
.announcement{
    margin: 10px;
    font-size: 6px;
}
.help-second-title{
    margin: 20px 10px;
    font-size: 27px;
}
.helpcontent{
    margin-left: 30px;
    font-size: 20px;
}
.help-componet{
    margin: 10px;

}
hr.hr0{
    margin: 20px;
    height:1px;
    border:none;
    border-top:1px dashed #1E90FF;
    width: 80%;
    align-items: left;
}
hr.hr1{
    margin: 20px;
    height:1px;
    border:none;
    border-top:1px dashed #1E90FF;
    width: 80%;
    align-items: left;
}